{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
    <div class="card mb-5 p-5">
        <div class="media"></div>
            <p><a href="#" class="username">{{ post.author }}</a> on {{ post.date_posted|date:'h:i F d, Y' }}</p>
            <hr>
            <a class="blog-title" href="{% url 'post-detail' post.id %}">
                <h1>{{ post.title }}</h1>
            </a>
            <p>{{ post.content}}</p>
        </div>    
    {% endfor %}
{% endblock content %}